<div id="add_m_c">
<p>
  <label><%=l(:mc_display_calendar)%></label>
  <% if @user.assign_calendar %>
    <%= select_tag 'm_calendar', options_for_select({@user.assign_calendar.calendar.name => true, 'All calendars' => false}, @user.assign_calendar.one_calendar) %>
  <% else %>
    <%= select_tag 'm_calendar', options_for_select({'All calendars' => false}) %>
  <% end %>
</p>
</div>