/*
  A blue based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
  
  AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
  
  Colors: 
    Light Blue: bbccff 
    White: eeddee
    Turq: 003355
    Cream: ffffdd
*/

.calendar {
  margin: auto;
}

.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.dayName th {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: #303030;
  color: white;
}

.otherMonth, .day, .specialDay {
  padding: 0.7em 1em;
  border-right: 1px solid #F2F2F2;/*white;*/

}

.otherMonth {
  color: #AAAAAA; /*#eeeeee;*/
  background-color: #F2F2F2; /*white;*/
  text-align: center;
}

.day, .specialDay {
  text-align: center;
  border-bottom: 1px dotted #bbbbbb;
  background-color: #bbccff;
}
.specialDay {
  background-color: #003355; /*#EBDDDD;*/
  color: white;
}
.specialDay a:visited, .specialDay a{
 color: #8B0000; /*white;*/
 text-decoration: none;
}
.specialDay a:hover {
  color: white;
  text-decoration: none;
  background-color: #00300  !important;
  /* padding: 0.2em !important;*/
}





.specialDay a:hover {
  color: white;
  background-color: black;
}
.weekendDay {
  background-color: #ffffdd;
}
.today{
	background-color: #4682b4;
}
